In [2]:
import pickle
from pathlib import Path, PosixPath
import sys, os
# import glob
from thunderbolt import Thunderbolt
sys.path.append(os.path.dirname(Path().resolve()))

# from pipelines.features.core.standardization import Standardization

resources_path: PosixPath = Path().resolve() / "../resources/"
os.environ['TASK_WORKSPACE_DIRECTORY'] = str(resources_path)
tb = Thunderbolt()

In [3]:
tb.get_task_df(all_data=True)

,task_id,task_name,last_modified,task_params,task_hash,task_log
0,0,BuildDataset,2022-06-07 19:02:43.585109,{},e0d0223dc4f51356443f01d2cf49d63c,{'file_path': ['./resources/pipelines/dataset/...
1,1,TestDataset,2022-06-07 19:02:43.600605,"{'task_dataset': '{""type"": ""BuildDataset"", ""pa...",8593ba6a2c9eaf2aec3388c8553b2e23,{'file_path': ['./resources/pipelines/dataset/...
2,2,TrainDataset,2022-06-07 19:02:43.612550,"{'task_dataset': '{""type"": ""BuildDataset"", ""pa...",c97f6638f5dfddf8546b5edd61fa1e99,{'file_path': ['./resources/pipelines/dataset/...
3,3,FitFeatureModel,2022-06-07 19:02:43.651267,"{'task_dataset': '{""type"": ""TrainDataset"", ""pa...",4f79b9125838810048495e5cbd294a55,{'file_path': ['./resources/pipelines/features...
4,4,ApplyFeatureModel,2022-06-07 19:02:43.711632,"{'task_dataset': '{""type"": ""TrainDataset"", ""pa...",2501025862baa27b0bb3c9f2f35f17ed,{'file_path': ['./resources/pipelines/features...
5,5,ApplyFeatureModel,2022-06-07 19:02:43.753522,"{'task_dataset': '{""type"": ""TestDataset"", ""par...",c6cba36b6ab985ed2d8cd894e74c146b,{'file_path': ['./resources/pipelines/features...
6,6,TrainWorkflow,2022-06-07 19:02:43.805476,{},81f9b88239d3eb18e880c769a0248737,{'file_path': ['./resources/pipelines/workflow...

In [11]:
df = tb.load(task_id=2)
df

,target,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,5.101562,3.500000,1.400391,0.199951
1,0,4.898438,3.000000,1.400391,0.199951
2,0,4.699219,3.199219,1.299805,0.199951
3,0,4.601562,3.099609,1.500000,0.199951
4,0,5.000000,3.599609,1.400391,0.199951
...,...,...,...,...,...
145,2,6.699219,3.000000,5.199219,2.300781
146,2,6.300781,2.500000,5.000000,1.900391
147,2,6.500000,3.000000,5.199219,2.000000
148,2,6.199219,3.400391,5.398438,2.300781
149,2,5.898438,3.000000,5.101562,1.799805

In [8]:
df["train"]

     sepal width (cm)  sepal length (cm)
0            1.018555          -0.898926
1           -0.131958          -1.145508
2            0.326416          -1.386719
3            0.097290          -1.505859
4            1.249023          -1.021484
..                ...                ...
145         -0.131958           1.037109
146         -1.282227           0.554688
147         -0.131958           0.795898
148          0.789551           0.431396
149         -0.131958           0.066833

[150 rows x 2 columns]